@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;

    height: 200px;
}

header h1 {
    font-size: 4em;
    padding-top: 50px;
}


a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

p {
    padding-top: 30px;
    padding-bottom: 20px;
}

.normal {
    font-size: 2em;
    line-height: 2em;

    padding-left: 30px;
}

.imagem {
    

    color: white;
    font-size: 2em;
    line-height: 2em;

    padding: 40px 0px 40px 30px;
}

#img01 {

    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#img02 {
    background-image: url(imagens/background002.jpg);
}


